node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json

#Android
builds/.gradle
builds/app
builds/build
builds/gradle
builds/build.gradle
builds/gradlew
builds/gradlew.bat
builds/settings.gradle
builds/app-release-bundle.aab
builds/app-release-signed.apk
builds/app-release-signed.apk.idsig
builds/app-release-unsigned-aligned.apk


